element.style {
    within 980px;
   
}

body {
    background-image: url("/ollllla/website/images/background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border: 5px blue;
    margin-left: 20px;
    margin-right: 20px; 
    overflow: hidden;
   
    
}

#clouds {
	padding: 10px 0;
    top: 5px;

}
.cloud {
	position: relative; 
}
 
.cloud:before {
  position: absolute; 
	top: -15px; 
	left: 10px;
	}
 
.cloud:after {
	position: auto; 
	right: 15px;
}

.cloud1 {
	-webkit-animation: moveclouds 65s linear infinite;
	-moz-animation: moveclouds 65s linear infinite;
	-o-animation: moveclouds 65s linear infinite;
}
 

.cloud2 {
	left: 200px;
	
	-webkit-animation: moveclouds 75s linear infinite;
	-moz-animation: moveclouds 75s linear infinite;
	-o-animation: moveclouds 75s linear infinite;
}
 
.cloud3 {
	left: -500px; 
	top: -100px;
	
  -webkit-animation: moveclouds 85s linear infinite;
	-moz-animation: moveclouds 85s linear infinite;
	-o-animation: moveclouds 85s linear infinite;
}
.cloud4 {
	
	-webkit-animation: moveclouds 45s linear infinite;
	-moz-animation: moveclouds 45s linear infinite;
	-o-animation: moveclouds 45s linear infinite;

}

@-webkit-keyframes moveclouds {
	0% {margin-left: 900px;}
	100% {margin-left: -900px;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 900px;}
	100% {margin-left: -900px;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 900px;}
	100% {margin-left: -900px;}
}


#header h1 {
    text-align: center;
    font-family:'Droid Sans', sans-serif;
    font-weight: 400;
    font-size:36px;

}

     

#formCity {
    text-align: left;
    font-family:'Noto Sans', sans-serif;
    font-weight: 400;
    color:;
    
}

#full_content {
  
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    background-color:rgba(100, 149,	237, 0.3);
    border-radius: 8px;
    padding:35px;
    margin-right:auto;
    margin-left:auto;
    border: 1px blue;
}

     
 #content_header
{
   flex: 5 auto; 
   color: black;
   background: rgba(153, 178, 255, 0.4);
   paddind: 20px;
   border-radius: 15px;
   text-align: center;
   font-family: 'Arimo', sans-serif;
   font-weight: 600;
   border: 3px blue;
  
}              
   #content_header {
   display: block;
   
    -webkit-transform: 
    transform: scale(1,2);
    -webkit-transition-timing-function:
    -webkit-transition-duration: 550ms; 
    -moz-transform: scale(1,2); 
    -moz-transition-timing-function: 
    -moz-transition-duration: 550ms;

       
   } 

    #content_header:hover {
  
    -webkit-transform: scale(1.11,1.45); 
    -webkit-transition-timing-function: 
    -webkit-transition-duration:550ms; 
    -moz-transform: scale(1.11,1.45); 
    -moz-transition-duration: 550ms;
}  